{
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["sort-imports-es6-autofix"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    "import/prefer-default-export": "off",
    "react/require-default-props": [0],
    "object-curly-newline": "off",
    "react/jsx-props-no-spreading": [0],
    "implicit-arrow-linebreak": 0,
    "operator-linebreak": "off",
    "@typescript-eslint/indent": "off",
    "react/jsx-one-expression-per-line": "off"
  }
}
