{
  "printWidth": 100,
  "tabWidth": 2,
  "quoteProps": "as-needed",
  "useTabs": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "semi": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^app/(.*)$",
    "^pages/(.*)$",
    "^features/(.*)$",
    "^entities/(.*)$",
    "^shared/(.*)$",
    "^[./]"
  ]
}
